<div class="blurb">

<h1>About</h1>
<p>Writerly is an author's blog with a twist- it's not just about one person. It's a community of writers writing for each other, which is, I like to think, exactly how it should be. Treat it like your favourite bookshop and browse idly through the array of volumes until you find the little gem that was put there just for you, or get involved and submit an article yourself so that your fellow authors can learn about their craft through your eyes. Either way, enjoy...</p>

</div>