<div class="index">

	<h2>Writerly.</h2>

	<h1 class="landing-page">The Writer's Blog</h1>

	<h3>Feel. Write. Together.</h3>

	<div class="enter">
	  <a href="/articles">| Welcome |</a>
	</div>

</div>
