<div class="col-md-4 col-xs-12 articles">
	<div class="card">
	  <%= image_tag article.image_url, class: "card-img-top", size: '425x225' %>
	  <div class="card-block">
	    <h3 class="card-title"><%= article.title %></h3>
	    <%= link_to 'Read', article, class: "btn btn-primary" %>
	    <br>
	  </div>
	</div>
</div>		