<div class="new">

<h1>Contribute</h1>

<p>Here at Writerly, we think that writing should be a little less solitude and angst and a bit more collaboration and community. We'd love nothing more than to host your article here- anything from how you get your inspiration to where you like to write- as long as the focus is (you guessed it) on writing. Use the form below- just place the title in the box marked 'Title' and add the body of your article in the field marked 'Body'. Feel free to add an image by pasting in the url (pictures of fluffy-wuffy pets are allowed, but frowned upon).
	

</p>

<%= render 'form', article: @article %>


</div>